@charset "UTF-8";
/*MOBILE*/
@media (max-width: 768px) {
  header, main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul {
    display: flex;
    padding: 0px;
    list-style: none;
  }
  a {
    text-decoration: none;
    font-style: italic;
    color: brown;
    padding: 5px;
    margin: 5px;
  }
  .p20 {
    padding: 20px;
  }
  .gridmainProf {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .drs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .parrafodrs {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
  }
  .GridTurnos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pos {
    position: relative;
    top: -22px;
    left: 39px;
  }
  .GridMainRecetas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tituloRec {
    font-size: 20px;
  }
  .selecdrs {
    font-size: 10px;
  }
  .fordrs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .GridMainContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logoynumero {
    display: inline-block;
    position: relative;
    top: 49px;
    left: -74px;
  }
  .logosmails {
    display: inline-block;
    position: relative;
    top: -12px;
    left: 4px;
    font-size: 20px;
    color: brown;
  }
  .logoscontactoc {
    display: inline-block;
    position: relative;
    top: -9px;
    left: 40px;
    font-size: 20px;
    color: brown;
  }
  .direccionM {
    font-size: 20px;
    color: brown;
  }
  .logol {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*DESKTOP*/
@media (min-width: 1023px) {
  /*GRID INDEX*/
  .gridIndex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  header, ul, footer {
    display: flex;
  }
  /*GRID MAIN INDEX¨*/
  .gridmainIndex {
    display: grid;
    grid-template-areas: "imgprincipal imgprincipal imgprincipal" "titulo titulo titulo" "tituloh3 mapa formulario";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  .imgprincipal {
    grid-area: imgprincipal;
  }
  .titulo {
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }
  .tituloh3 {
    grid-area: tituloh3;
    font-size: 30px;
  }
  .mapa {
    grid-area: mapa;
  }
  .formulario {
    grid-area: formulario;
  }
  .jusconbet {
    justify-content: space-between;
  }
  .p20 {
    padding: 20px;
  }
  .m20 {
    margin: 20px;
  }
  .Align-i-center {
    align-items: center;
  }
  .subtitu {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
  }
  .mcontainer {
    position: relative;
    padding-bottom: 56.25%;
  }
  .map-responsive {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
    color: brown;
    padding: 20px;
  }
  .parrafoprinci {
    font-size: 18px;
  }
  /* GRID PROFESIONALES*/
  .gridmainProf {
    display: grid;
    grid-template-areas: "imgprincipalp imgprincipalp" "contenedor contenedor" "cuadrado1 cuadrado2" "cuadrado3 cuadrado4";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
  }
  .imgprincipalp {
    grid-area: imgprincipalp;
  }
  .contenedor {
    grid-area: contenedor;
  }
  .cuadrado1 {
    grid-area: cuadrado1;
  }
  .cuadrado2 {
    grid-area: cuadrado2;
  }
  .cuadrado3 {
    grid-area: cuadrado3;
  }
  .cuadrado4 {
    grid-area: cuadrado4;
  }
  .drs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profesionales {
    font-size: 30px;
  }
  /*RECETAS FLEX*/
  .tituloRec {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
  }
  .medicos {
    display: flex;
    position: relative;
    top: -39px;
    left: 247px;
  }
  /*CONTACTO*/
  .GridMainContacto {
    display: grid;
    grid-template-areas: "tituloContac tituloContac" "logoynumero logogmail" "formucont iframe";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
  .tituloContac {
    grid-area: tituloContac;
  }
  .logoynumero {
    grid-area: logoynumero;
  }
  .logogmail {
    grid-area: logogmail;
  }
  .formucont {
    grid-area: formucont;
  }
  .iframe {
    grid-area: iframe;
  }
  .direccionM {
    font-size: 22px;
  }
  .logosmails {
    font-size: 22px;
  }
  .logoscontactoc {
    font-size: 22px;
  }
  .formularioc {
    font-size: 18px;
  }
  .tituloContac {
    text-align: center;
    font-size: 30px;
  }
  .tituloh3 {
    font-size: 30px;
  }
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.contacto {
  color: #A52A2A;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.subtitu {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.subtitu1 {
  font-family: "Roboto", sans-serif;
}

.profesionales {
  font-family: "Roboto", sans-serif;
}

.tituloh3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.titulodr {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.fondocua {
  background-color: lightgrey;
  padding: 10px;
  margin: 10px;
}

.subtituT {
  text-align: center;
}

.imgdr {
  text-align: center;
}

.subth4 {
  font-family: "Roboto", sans-serif;
}

#Trecetas {
  font-family: "Roboto", sans-serif;
}

.tituloContac {
  font-family: "Roboto", sans-serif;
}

.p20 {
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */
