// :root{--nombreVariable:Valor; y ahora es 

    // $nombreVariable:valor; 

$colorPrincipal: #999999;
$colorSecundario: #A52A2A;
$colorTerciario: #D3D3D3;
$negro: #0000;
$blanco: #fff;

  //Tamaños de fuente 

  $pDesktop: 1.7 rem;
  $pMobile: 1.3 rem;
  $hdesktop: 3 rem; 
  $hmobile: 2 rem;

